
body{
  overflow-x: hidden;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }


  .btn-primary {
    color: #fff;
    background-color: #343a40!important;
    border-color: #343a40!important;
    border-radius:3px!important;
}

  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #343a40!important;
    border-color: #343a40!important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #343a40!important;
  border-color: #343a40!important;
}

.firstCol-padd {
    padding-top: 47px;
}

.fontPrice {
  font-size: 2em;
  text-align: right;
  padding-right: 50px;
}

.buttonX {
  border: none;
  color: white;
  padding:5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button5 {
background-color: white;
color: black;
font-size: large;
border-bottom: 1px solid #dddddf;
}

.button5:hover {
  background-color: black;
  color: white;
}


.title-item {
  font-size: 20px;
  font-weight: 700;
}

.number-font{
  font-size: 18px;
  font-weight: 500;
}

.card button {
  border: none;
  outline: 0;
  padding: 5px;
  color: black;
  background-color: #dddddf;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.form-padding{

  padding-top:96px;
}

.button5:hover {
  border-radius: 19px;
  background-color: #dddddf;
  color:black;
}

button:focus {
  outline: none !important;
}

.cart-fsize-padd {
  font-size:28px;
  text-align:center;
}

light.list-group-item-action:focus {
  color: #818182;
  background-color: #ececf6;
  border-radius: 19px;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  height: 250px!important;
}